@page
@model IndexModel
<h2>Car Adviser</h2>

<div id="messagesPanel"></div>
<div>
    <input type="text" id="userInput" name="userInput" class="user-input" />
    <div>
        <label for="userInput">Please enter your message (max 200 characters):</label>
        <span id="charCount">0 / 200</span>
    </div>
    <br/>
    <button id="sendButton" type="button">Send</button>
</div>

<form method="post" id="myForm">
    @Html.AntiForgeryToken()
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        //# sourceURL=Art_inline.js
        $(document).ready(function () {

            function sendRequest() {
                var userInput = $("#userInput").val();
                $("#messagesPanel").append("<p class=\"question\">" + userInput + "</p>");
                var messages = [];
                var msgs = $("#messagesPanel").find("p");
                msgs.each(function (index) {
                    messages.push({
                        Text: $(this)[0].textContent,
                        Role: $(this).hasClass("question") ? "user" : "bot"
                    });
                });

                var token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Page("Index", "UserInput")",
                    contentType: 'application/json',
                    headers: {
                        "RequestVerificationToken": token
                    },
                    data: JSON.stringify(messages),
                    success: function (response) {
                        $("#messagesPanel").append("<p class=\"answer\">" + response + "</p>");
                        $("#userInput").val('');
                    }
                });
                $('#charCount').text(`0 / 200`);
                $("#userInput").val('')
            }

            $("#sendButton").click(function () {
                sendRequest();
                // $.ajax({
                //     type: "GET",  // Changed from POST to GET
                //     url: "@Url.Page("Index", "UserInput")",
                //     data: { userInput: userInput },
                //     success: function (response) {
                //         $("#messagesPanel").append("<p class=\"answer\">" + response + "</p>");
                //         $("#userInput").val(''); // Clear the input after sending
                //     }
                // });
            });

            $('#userInput').keypress(function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    sendRequest();
                }
            });

            $('#userInput').on('input', function () {
                debugger;
                const count = $(this).val().length;
                $('#charCount').text(`${count} / 200`);
            });
        });
    </script>
}